<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyConsole" version="1.1.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.32.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.32.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.32.0" targetFramework="net452" />
  <package id="Google.Apis.Drive.v3" version="1.32.0.1079" targetFramework="net452" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
</packages>